
/****                                   ****
 ****   Main App Frontend Boilerplate   ****
 ****                                   ****/

 /* inner container */
.lightbg, .darkbg{
    background-color: var(--primary-bg);
    padding: 0;
}

#maincontent{
    border: none;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.flexrow{
    display: flex;
    flex-direction: row;
    padding-left: 5px;
}

.flexcol{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

header{
    padding: 20px;
    background-color: var(--secondary-bg);
    margin: 20px;
    border-radius: 10px;
}

section{
    border-bottom: 1px solid var(--border-soft);
    border-top: 1px solid var(--border-soft);
    margin: 1em 0;
    padding: 3em 2em;
    position: relative;
}

section .section-title{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 1.5em;
    background-color: var(--secondary-bg);
    border-radius: 0 0 0 14px;
}


/* Tariffstyle CSS Below */

body{
    margin: 0;
    padding: 0;
}

#maincontainer{
    display: block;
    width: 100%;
    padding: 0 0 0 210px;
    margin: 0;
    position: absolute;
    top: 60px;
    bottom: 0;
    transition: all 0.2s cubic-bezier(0.85, 0.2, 0, 1);
}

#maincontainer.widecontent{
    padding-left: 50px;
    transition: all 0.2s cubic-bezier(0.85, 0.2, 0, 1);
}

#maincontainer.fullcontent{
    padding-left: 0px;
    transition: all 0.2s cubic-bezier(0.85, 0.2, 0, 1);
}

.widesidebar{
    display: block;
    width: 210px;
    position: absolute;
    background-color: var(--sidebar-bg);
    top: 0;
    left: 0;
    bottom: 0;
    transition: all 0.2s cubic-bezier(0.85, 0.2, 0, 1);
}

.narrowsidebar{
    display: block;
    width: 50px;
    position: absolute;
    background-color: var(--sidebar-bg);
    top: 0;
    left: 0;
    bottom: 0;
    /* transition: all 0.2s cubic-bezier(0.85, 0.2, 0, 1); */
}

.nosidebar{
    display: none;
}

#sidebar_append{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
}

#sidebar_append .settingsbutton{
    display: block;
    background-image: var(--btn-settings);
    background-repeat: no-repeat;
    background-color: transparent;
    height: 48px;
    margin: 5px 5px;
    height: 24px;
    width: 24px;
    margin: 10px;
    position: relative;
}

#sidebar_append .settingsbutton:hover{
    fill: var(--sidebarbutton);
}

#sidebar_append .informationbutton{
    display: block;
    background-image: var(--btn-info);
    background-repeat: no-repeat;
    background-color: transparent;
    height: 48px;
    margin: 5px 5px;
    position: relative;
}

#sidebar_append .settingsbutton:hover .sidebarsetting{
    fill: var(--sidebarbuttonhover);
}

#main_logo{
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

#progresslist{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
}

#progresslist .progressbutton{
    display: block;
    background-color: transparent;
    height: 68px;
    margin: 1px 0;
    position: relative;
}

#progresslist .progressbutton:hover{
    background-color: var(--button-bg);
    transition: 0.2s;
    cursor: pointer;
}

#progresslist .progressbutton:hover .buttonlabel{
    color: var(--text-contrast);
    transition: 0.2s;
}

#progresslist .buttonicon{
    display: block;
    float: left;
    height: 49px;
}

#progresslist .buttonicon{
    filter: var(--gry-85);
}

#progresslist .buttoniconactive{
    display: none;
    float: left;
    height: 49px;
}

#progresslist .buttonlabel{
    display: block;
    height: 49px;
    line-height: 49px;
    font-family: 'Titillium', sans-serif;
    font-weight: bold;
    font-size: 1.0625em;
    float: left;
    padding-left: 10px;
    transition: all 0.2s cubic-bezier(0.85, 0.2, 0, 1);
}

#progresslist .progressbutton.active{
    background-color: var(--button-bg);
}

#progresslist .progressbutton.active .buttonlabel{
    color: var(--text-contrast);
}

#progresslist .progressbutton.active .buttoniconactive{
    display: block;
}

#progresslist .progressbutton.active .buttonicon{
    display: none;
}

#sidebar_append{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
}

#sidebar_append .settingsbutton{
    display: block;
    background-color: transparent;
    height: 24px;
    width: 24px;
    margin: 10px;
    position: relative;
}

#sidebar_append .settingsbutton .sidebarsetting{
    fill: var(--sidebarbutton);
}

#sidebar_append .settingsbutton:hover{
    cursor: pointer;
}

#sidebar_append .settingsbutton:hover .sidebarsetting{
    fill: var(--sidebarbuttonhover);
}

#btn_sidebar{
    display: block;
    position: absolute;
    top: 2px;
    right: 0;
    background-color: var(--sidebar-button-bg);
    height: 35px;
    width: 35px;
}

#btn_sidebar div.widestate{
    display: block;
}

#btn_sidebar div.narrowstate{
    display: none;
}

/* for zooming transitions */
/*.hidden{
    opacity: 0;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
  }
  
  .hiddenbefore{
    opacity: 0;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }*/

#maincontent{
    padding: 0;
    display: block;
    /* opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: all 0.2s linear; */
}

/* #maincontent.hide{
    opacity: 0;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transition: all 0.2s linear;
}

#maincontent.hidebefore{
    opacity: 0;
    transform: scale(1.2);
    -webkit-transform: scale(0.8);
    transition: all 0.2s linear;
} */

.narrowsidebar #progresslist .progressbutton .buttonlabel{
    font-size: 0em;
    padding: 0;
    transition: all 0.2s cubic-bezier(0.85, 0.2, 0, 1);
}

.narrowsidebar #btn_sidebar{
    width: 50px;
    background: none;
    transition: all 0.2s cubic-bezier(0.85, 0.2, 0, 1);
}

.narrowsidebar #btn_sidebar div.widestate{
    display: none;
}

.narrowsidebar #btn_sidebar div.narrowstate{
    display: block;
}

.tooltiptext{
    visibility: hidden;
    width: 120px;
    height: 68px;
    background-color: var(--button-bg);
    color: var(--text-constant-white);
    text-align: center;
    padding: 14px 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    font-family: 'titillium', sans-serif;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 6px 6px 0;
    /* box-shadow: 13px 0 13px -10px var(--shadow-1); */
    opacity: 0;
}

.narrowsidebar .progressbutton:hover .tooltiptext{
    color: var(--text-constant-white);
    visibility: visible;
    left: 100%;
    opacity: 1;
    transition: all 0.2s cubic-bezier(0.85, 0.2, 0, 1);
    transition-delay: 500ms;
}

.importCalcDeps{
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    text-align: left;
  }

  /* theme switcher */
  

  .theme-switch-wrapper {
    display: flex;
    align-items: center;
  }

  .theme-switch {
    display: inline-block;
    height: 28px;
    position: relative;
    width: 44px;
  }
  
  .theme-switch input {
    display: none;
  }
  
  .slider {
    background-color: #dddddd;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #ffffff;
    bottom: 4px;
    content: "";
    height: 20px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 20px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(16px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* delete button ( X ) */

  .deleterecent{
    display: flex;
    background: var(--secondary-bg);
    background-image: var(--btn-close);
    background-position: center;
    margin: 3px 1px;
    overflow: hidden;
    border-radius: 0 8px 8px 0;
    background-repeat: no-repeat;
    width: 34px;
}

.deleterecent:hover{
    cursor: pointer;
    background-color: var(--tertiary-bg);
}

/* number input alternative */

[data-quantity] {
    position: relative;
    width: 100%;
    max-width: 11rem;
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  [data-quantity] legend {
    display: none;
  }
  
  [data-quantity] input {
    font-size: 18px;
    height: 4rem;
    padding: 0 4rem;
    border-radius: 1rem;
    border: 0;
    background: #e8e8e8;
    color: #222;
    /* box-shadow: 0 10px 65px -10px rgba(0, 0, 0, 0.25); */
    text-align: center;
    /* width: 100%; */
    box-sizing: border-box;
    font-weight: lighter;
  }
  
  [data-quantity] input:focus {
    outline: none;
    box-shadow: 0 5px 55px -10px rgba(0, 0, 0, 0.2), 0 0 4px #2f2f2f; /* Allows border radius on focus */
  }
  
  [data-quantity] input[type=number]::-webkit-inner-spin-button,
  [data-quantity] input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  [data-quantity] input[type=number] {
    -moz-appearance: textfield;
  }
  
  [data-quantity] button {
    position: absolute;
    width: 2.8rem;
    height: 2.8rem;
    top: 0.6rem;
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><path d="M17 25h16M67 25h16M75 17v16" fill="none" stroke="rgb(59,69,66)" stroke-width="1.5px" stroke-linecap="round" stroke-linejoin="round" /></svg>')
      no-repeat 0 0;
    background-size: 5.6rem 2.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.15s;
    opacity: 0.9;
  }
  
  [data-quantity] button.add:active {
    background-position-y: -1px;
    /* box-shadow: inset 0 2px 12px -4px #d2d2d2; */
  }
  
  [data-quantity] button.sub:active {
    background-position-y: 1px;
    /* box-shadow: inset 0 2px 12px -4px #d2d2d2; */
  }
  
  [data-quantity] button:focus {
    outline: none;
  }
  
  [data-quantity] button.add:hover {
    opacity: 1;
    background-color: #098809;
  }
  
  [data-quantity] button.sub:hover {
    opacity: 1;
    background-color:#af1911;
  }
  
  [data-quantity] button.sub {
    background-color: #999999;
    left: 0.6rem;
  }
  
  [data-quantity] button.add {
    right: 0.6rem;
    background-position-x: -2.8rem;
    background-color: #999999;
  }
  
  /* checkbox alternative */

  #_checkbox
{
    display: none;
}

#checkbox
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #f72414;
    transform: translateY(-50%);
    border-radius: 50%;
    /* box-shadow: 0 7px 10px #ffbeb8; */
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
}

#checkbox:before
{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 35px;
    height: 35px;
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    /* box-shadow: inset 0 7px 10px #ffbeb8; */
    transition: 0.2s ease width, 0.2s ease height;
}

/* label:hover:before
{
    width: 55px;
    height: 55px;
    /* box-shadow: inset 0 7px 10px #ff9d96;
} */

#checkbox:active
{
    transform: translateY(-50%) scale(0.9);
}

#tick_mark
{
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    margin-left: 14px;
    transform: rotateZ(-40deg);
}

#tick_mark:before, #tick_mark:after
{
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
}

#tick_mark:before
{
    left: -7px;
    bottom: 2px;
    width: 5px;
    height: 15px;
    /* box-shadow: -2px 0 5px rgba(0,0,0,0.23); */
    transform: translateY(-68px)
}

#tick_mark:after
{
    left: -7px;
    bottom: 2px;
    width: 100%;
    height: 5px;
    /* box-shadow: 0 3px 5px rgba(0,0,0,0.23); */
    transform: translateX(78px)
}

#_checkbox:checked + #checkbox
{
    background-color: #07d410;
    /* box-shadow: 0 7px 10px #92ff97; */
}

#_checkbox:checked + #checkbox:before
{
    width: 0;
    height: 0;
}

#_checkbox:checked + #checkbox #tick_mark:before, #_checkbox:checked + #checkbox #tick_mark:after
{
    transform: translate(0);
    opacity: 1;
}