h4{
    font-weight: 300;
    margin-bottom: 10px;
  }
  
  label{
    margin-bottom: 0px;
  }
  
  /* tabs */
  
  .factors .form-check,
  .calcFactors .form-check {
    display: block;
    width: 100%;
    clear: both;
    position: relative;
    height: 25px;
    border-top: 1px solid var(--border-soft);
    padding: 2px;
  }
  
  .tabcontainer {
    position: relative;
    height: 100vh;
    background-color: var(--primary-bg); /* bak */
    z-index: 0;
  }
  
  .tabcontainer .tab-content {
    overflow-y: overlay;
    overflow-x: hidden;
    position: absolute;
    top: 70px;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
  #FactorsSidebar{
    z-index: 3;
  }
  
  #FactorsSidebar .tab-content{
    top: 0;
    /* border-right: 1px solid var(--border-soft);
    right: 1px; */
    box-shadow: inset -10px 0px 12px -8px var(--shadow-darken);
    /* resize: horizontal; */
    min-width: 100%;
    max-width: 95vw;
    background-color: var(--primary-bg-overlay);
    backdrop-filter: blur(10px);
    will-change: auto;
  }
  
  .tab-pane {
    /* display: block; */
    display: none;
    /* visibility: hidden; */
    position: absolute;
    /* height: 100vh; */
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: overlay;
    overflow-x: overlay;
  }
  
  .tab-pane.active {
    /* visibility: visible; */
    display: block;
  }
  
  #factorsDiv,
  #factorsCalculated {
    font-size: 0.75em;
    font-weight: bold;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  #factorsList{
    overflow-y: overlay;
    overflow-x: hidden;
    height: calc(100% - 80px);
  }
  
  
  #factorsList > div:first-child .tooltiphover,
  #factorsList > div:first-child .factortypeletterhover,
  #factorsList > div:first-child .modelletterhover,
  #factorsList > div:first-child .smoothingletterhover{
    top: 2.6em;
  }
  
  #modelSelectContainer{
    position: absolute;
    right: 1.5rem;
    top: 3px;
  }
  
  .modeloptions{
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
  }
  
  .modelgroup{
    margin-top: 10px;
    /* margin-left: 5px; */
    text-align: right;
  }
  
  .dispflex{
    display: flex;
  }
  
  .btn-exec {
    padding: 4px 10px;
    margin: 0 2px;
    display: block;
    background-color: var(--button-bg);
    color: var(--text-constant-white);
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1em;
    transition: all 0.1s ease;
    cursor: pointer;
  }
  
  .btn-exec:hover {
    background-color: var(--hover-contrast-red);
    box-shadow: -4px 0px 7px 0px var(--shadow-constant-darkred);
    transition: all 0.1s ease;
    color: var(--text-constant-white);
  }
  
  /* new factor row*/
  
  .starred{
    font-size: 1.5em;
    line-height: 1em;
    padding: 0 4px 0 0px;
    color: var(--text-soft-2);
  }
  
  .lumnidatarow{
    display: block;
    width: 100%;
    position: relative;
    height: 3em;
  }
  
  .lumnidatarow.active{
    background-color: var(--hover-contrast-red); /*fallback*/
    background: linear-gradient(90deg, transparent 75%, var(--tertiary-bg) 100%),
    linear-gradient(50deg, transparent 89.9%, var(--hover-contrast-red) 90%),
    linear-gradient(130deg, transparent 89.9%, var(--hover-contrast-red) 90%),
    linear-gradient(90deg, transparent 45%, var(--tertiary-bg) 100%);
  }
  
  .lumnidatarowinteracted{
    display: block;
    width: 100%;
    position: relative;
    height: 2em;
    font-size: 0.9em;
  }
  
  .lumnidatarow:hover,
  .lumnidatarowinteracted:hover{
    background-color: var(--tertiary-bg);
  }
  
  .lumnidatarowlabel{
    display: flex;
    align-items: center;
    width: min-content;
    min-width: 100%;
    height: 100%;
    /* justify-content: space-between; */
    padding: 0 6px 0 10px;
    margin: 0;
    /* cursor: pointer; */
  }
  
  .lumnidatarowlabel.numericrow{
    padding-left: 34px;
  }
  
  .lumnidatarowlabel.numericrow::before{
    content: '';
    position: absolute;
    left: 10px;
    bottom: 5px;
    top: 5px;
    z-index: 0;
    width: 2.3em;
    border-radius: 4px;
    background-color: var(--input-bg-contrast);
    border: 1px dotted var(--hover-soft);
    border-right: none;
    border-left: none;
  }
  
  .lumnidatarowlabel.numericrow::after{
    content: '';
    position: absolute;
    left: 12px;
    bottom: 8px;
    top: 8px;
    z-index: 1;
    width: 8px;
    /* background-color: var(--hover-soft); */
    border-radius: 2px;
    border: 1px dotted var(--hover-soft);
    border-right: none;
  }
  
  .lumnidatarowlabelinteracted {
    display: flex;
    align-items: center;
    width: min-content;
    min-width: 100%;
    height: 100%;
    padding: 0 6px 0 14px;
    margin: 0;
  }
  
  /* nested rows */
  .lumnidatarow ~ div .lumnidatarow .lumnidatarowlabel,
  .lumnidatarow ~ div .lumnidatarow .lumnidatarowlabelinteracted{
    padding: 0 6px 0 10px;
  }
  
  .lumnidatarow ~ .calcFactors{
  padding-left: 22px;
  }
  
  .lumnidatarow ~ div:not(:last-of-type) > .lumnidatarow ~ .calcFactors{
  /* padding-left: 32px; */
  border-left: 2px solid var(--hover-soft);
  margin-left: 0;
  }
  
  .calcFactors .lumnidatarow {
    border-radius: 6px 0 0 10px;
    margin-left: 10px;
  }
  
  .lumnidatarow ~ div .lumnidatarow .lumnidatarowlabel::before{
  content: "";
  position: absolute;
  bottom: 10px;
  left: -10px;
  height: 24px;
  width: 18px;
  background-color: var(--hover-soft);
  -webkit-mask-image: url(../../../common/images/calculated-nested-arrow.svg);
  mask-image: url(../../../common/images/calculated-nested-arrow.svg);
  }
  
  .factorchecked{
    /* background-color: var(--shadow-soft); */
    background: linear-gradient(200deg, transparent 0%, var(--shadow-soft) 120%);
  }
  
  .factorchecked .columnlabel{
    color: var(--text-bw);
  }
  
  
  .lumnidatarow:hover .mini-buttons-hover{
  transform: translateX(0);
  transition:transform 50ms cubic-bezier(0.215, 0.610, 0.355, 1);
  transition-delay: 200ms;
  }
  
  .mini-buttons-hover{
  display: flex;
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 2px;
  align-items: center;
  padding: 0 14px 0 4px;
  background-color: var(--hover-soft);
  transform: translateX(100%);
  transition: transform 200ms;
  transition-delay: 750ms;
  will-change: transform;
  border-radius: 6px 0 0 6px;
  }
  
  .mini-buttons-tray{
  display: flex;
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 2px;
  align-items: center;
  padding: 0 14px 0 1px;
  background-color: var(--secondary-bg);
  width: fit-content;
  transition: all 300ms ease-in-out;
  overflow-x: hidden;
  border-radius: 6px 0 0 6px;
  }
  
  .mini-buttons-tray .traycheck{
  opacity: 0;
  display: block;
  height: 100%;
  position: absolute;
  width: 16px;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  }
  
  .mini-buttons-tray .tray-icon{
  padding: 0 4px;
  transform:rotateY(180deg);
  position: relative;
  right: 0;
  transition: right 100ms ease-in-out;
  }
  
  .mini-buttons-tray .tray-icon:hover,
  .traycheck:hover + .tray-icon
  {
  filter: brightness(2);
  right: 2px;
  transition: right 100ms ease-in-out;
  }
  
  .mini-buttons-tray .tray-content{
  display:flex;
  position: relative;
  width: 0px;
  overflow: hidden;
  }
  
  .mini-buttons-tray .traycheck:checked ~ .tray-content{
  width: 100%;
  }
  
  .mini-buttons-tray .traycheck:checked + .tray-icon{
  transform:rotateY(0deg);
  }
  
  .factors .form-check .form-check-label,
  .calcFactors .form-check .form-check-label {
    display: block;
    /* float: left; */
  }
  
  .columnlabel {
    display: flex;
    align-items: center;
    color: var(--text-soft);
    white-space: nowrap;
    letter-spacing: .1em;
    margin: 0 6px;
    padding: 2px 6px 2px 2px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .columnlabel:hover{
    background: var(--hover-soft);
    transition: background 0.1s ease;
  }
  
  .lumnidatarowlabelinteracted .columnlabel{
    padding: 1px 6px 1px 6px;
  }
  
  .factors .form-check,
  .calcFactors .form-check {
    display: block;
    width: 100%;
    clear: both;
    position: relative;
    height: 25px;
    border-top: 1px solid var(--border-soft);
    padding: 2px;
  }
  
  .minibutton{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 4px;
    border: 1px solid var(--border-soft);
    border-radius: 4px;
    /* margin-right: 4px; */
    margin: 0 1px;
    transition: all 0.1s ease;
    /* position: absolute; */
    /* right: 4px; */
    background-color: var(--primary-bg);
    /* box-shadow: 2px -10px 4px -7px inset var(--shadow-6), -2px 9px 4px -7px inset var(--shadow-6); */
  }
  
  .minibutton:hover{
    background-color: var(--hover-soft);
    padding: 2px;
    /* border: 1px solid var(--border-1); */
    box-shadow: -4px 4px 8px -4px var(--shadow-alpha-black);
  }
  
  .minibutton img {
    width: 100%;
    height: 100%;
    filter: var(--inv);
  }
  
  .createCalculation,
  .editCalculation,
  .removeCalculation {
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 4px;
    border-radius: 4px;
    transition: all 0.1s ease;
    background-color: var(--button-contrast);
    border: 1px solid var(--border-soft-2);
  }
  
  .selectSmoothingValue,
  .smoothingRemoveRuleBtn,
  .smoothingRemoveBtn {
    cursor: pointer;
    display: block;
    float: right;
    width: 20px;
    height: 20px;
    padding: 4px;
    border: 1px solid var(--border-soft-2);
    border-radius: 4px;
    /*margin-right: 4px;*/
    transition: all 0.1s ease;
    position: absolute;
    right: 4px;
    background-color: var(--button-contrast);
  }
  
  /* .selectSmoothingValue {
    left: -24px;
  } */
  
  .selectSmoothingValue {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    top: 3px;
    margin-right: 0px;
  }
  
  .smoothingRemoveRuleBtn, .smoothingRemoveBtn {
    position: relative;
  }
  
  .createCalculation:hover,
  .editCalculation:hover,
  .removeCalculation:hover,
  .selectSmoothingValue:hover,
  .smoothingRemoveRuleBtn:hover,
  .smoothingRemoveBtn:hover {
    background-color: var(--hover-contrast);
    padding: 2px;
    /* border: 1px solid var(--border-soft); */
    box-shadow: -4px 4px 8px -4px rgb(0,0,0,0.5);
  }
  
  .createCalculation span,
  .editCalculation span,
  .removeCalculation span,
  .selectSmoothingValue span,
  .smoothingRemoveRuleBtn span,
  .smoothingRemoveBtn span {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .createCalculation span img,
  .editCalculation span img,
  .removeCalculation span img,
  .selectSmoothingValue span img,
  .smoothingRemoveRuleBtn span img,
  .smoothingRemoveBtn span img {
    width: 100%;
    position: absolute;
    filter: var(--inv);
  }
  
  .selectSmoothingValue span img,
  .smoothingRemoveRuleBtn span img,
  .smoothingRemoveBtn span img {
    right: 0;
  }
  
  .createPreview,
  .gotoRenderedTab {
    cursor: pointer;
    /* display: block;
    float: right; */
    width: 20px;
    height: 20px;
    padding: 4px;
    border: 1px solid var(--border-soft);
    border-radius: 4px;
    /*margin-right: 4px;*/
    transition: all 0.1s ease;
    /* position: absolute;
    right: 26px; */
    background-color: var(--primary-bg);
    /* box-shadow: 2px -10px 4px -7px inset var(--shadow-alpha-black); */
  }
  
  .createPreview:hover,
  .gotoRenderedTab:hover {
    background-color: var(--hover-soft);
    padding: 2px;
    /* border: 1px solid var(--border-soft); */
    box-shadow: -4px 4px 8px -4px var(--shadow-alpha-black);
  }
  
  .createPreview span,
  .gotoRenderedTab span {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .createPreview span img,
  .gotoRenderedTab span img {
    width: 100%;
    position: absolute;
    filter: var(--inv);
  }
  
  /* hide unselected - show all */
  
  .hideshow {
    background-color: var(--button-contrast);
    padding: 2px 8px;
    border: 1px solid var(--border-soft);
    border-radius: 4px;
    /* margin: 2px 0; */
    color: var(--text-soft);
    transition: all 0.1s ease-in-out;
    width: 100%;
    min-width: 80px;
    float: right;
    font-size: 1em;
    height: 30px;
    line-height: 10px;
    margin-right: -6px;
    z-index: 100;
    box-shadow: inset 0 0 4px var(--shadow-soft);
  }
  .searchgroup{
    display: flex;
    align-items: center;
  }
  .hideshow:hover {
    /* background-color: var(--hover-soft); */
    color: var(--text-bw);
  }
  
  .factorsearchbarbuttons{
    display: flex;
    padding: 0 0.5em;
  }
  
  .factorsearchbar {
    padding-top: 6px;
  }
  
  /** Tooltip Container **/
  
  .tooltipcontainer{
    display: flex;
    width: 34px;
    height: 2em;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    margin-right: 8px;
    border-radius: 4px;
    border-left: 2px solid var(--border-soft);
    border-top: 1px solid var(--border-soft);
  }
  
  .tooltipcontainer .tooltipbase{
    width: 100%;
    border-radius: 4px 4px 0 0;
    border-left: none;
    margin: 0;
    height: 50%;
    font-size: 0.75em;
  }
  
  /** Tooltip Symbols **/
  
  .tooltipsymbol{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    font-size: 0.75em;
    flex-grow: 1;
    height: 50%;
    /* overflow: hidden; */
    line-height: 1.5em;
  }
  
  .tooltipsymbol.factortypeletter {
    background-color: var(--tooltip-type);
    color: var(--tooltip-text);
  }
  
  .tooltipsymbol.modelletter {
    background-color: var(--tooltip-model);
    color: var(--tooltip-text);
  }
  
  .tooltipsymbol.smoothingletter {
    background-color: var(--tooltip-smoothing);
    color: var(--tooltip-text);
  }
  
  .tooltipsymbol:hover .factortypeletterhover,
  .tooltipsymbol:hover .modelletterhover,
  .tooltipsymbol:hover .smoothingletterhover{
    display: block;
  }
  
  .factortypeletterhover{
    display: none;
    position: absolute;
    background: var(--secondary-bg);
    z-index: 500;
    border: 1px solid var(--border-soft);
    padding: 2px 6px;
    border-radius: 4px;
    box-shadow: 0 5px 6px -4px var(--shadow-alpha-black);
    top: -3.8em;
    left: -4.5em;
    width: 90px
  }
  
  .modelletterhover{
    display: none;
    position: absolute;
    background: var(--tooltip-model);
    z-index: 500;
    /* border: 1px solid var(--border-soft); */
    padding: 2px 6px;
    border-radius: 4px;
    box-shadow: 0 5px 6px -4px var(--shadow-alpha-black);
    top: -3.4em;
    left: -2.6em;
    width: 42px;
  }
  
  .smoothingletterhover{
    display: none;
    position: absolute;
    background: var(--tooltip-smoothing);
    z-index: 500;
    /* border: 1px solid var(--border-soft); */
    padding: 2px 6px;
    border-radius: 4px;
    box-shadow: 0 5px 6px -4px var(--shadow-alpha-black);
    top: -3.4em;
    left: -5.1em;
    width: 64px;
  }
  
  .tooltipsymbol:nth-child(2){
    border-bottom-left-radius: 4px;
  }
  
  .tooltipsymbol:last-of-type{
    border-bottom-right-radius: 4px;
  }
  
  /** Tooltip **/
  
  .tooltipbase {
    position: relative;
    display: inline-flex;
    /* padding: 0 2px; */
    justify-content: center;
    align-items: center;
    min-width: 3.5em;
    width: 3.5em;
    border-radius: 4px;
    border-left: 2px solid var(--border-soft);
    text-align: center;
    color: var(--text-soft);
    font-size: 0.9em;
    /* height: 18px;
    box-shadow: 4px -7px 4px -7px inset var(--shadow-alpha-black); */
    cursor: pointer;
    /* line-height: 2em; */
    margin-right: 4px;
    background-color: var(--tooltip-corr);
  }
  
  .tooltipbase-calculated {
    position: relative;
    display: inline-block;
    /* padding: 0 2px; */
    width: 17px;
    height: 15px;
    color: var(--text-soft);
    font-size: 0.9em;
    cursor: pointer;
    margin-right: 4px;
  }
  
  .tooltipbase-calculated-inner {
    position: relative;
    display: inline-block;
    /* padding: 0 2px; */
    width: 14px;
    height: 14px;
    background-color: var(--text-soft);
    -webkit-mask-image: url(../../../common/images/calculated_symbol.svg);
    mask-image: url(../../../common/images/calculated_symbol.svg);
  }
  
  .tooltipbase-calculated-inner-interacted {
    position: relative;
    display: inline-block;
    /* padding: 0 2px; */
    width: 14px;
    height: 14px;
    background-color: var(--text-soft);
    -webkit-mask-image: url(../../../common/images/interacted_symbol.svg);
    mask-image: url(../../../common/images/interacted_symbol.svg);
  }
  
  .tooltipbase-calculated:hover .calculationhover,
  .tooltipbase:hover .tooltiphover{
    display: block;
  }
  
  .tooltiphover{
    display: none;
    position: absolute;
    background: var(--tooltip-corr);
    z-index: 500;
    border: 1px solid var(--border-soft);
    padding: 2px 6px;
    border-radius: 4px;
    box-shadow: 0 5px 6px -4px var(--shadow-alpha-black);
    top: -2.8em;
    left: -5.5em;
    width: 110px;
  }
  
  .calculationhover{
    display: none;
    position: absolute;
    background: var(--tooltip-corr);
    z-index: 500;
    border: 1px solid var(--border-soft);
    padding: 2px 6px;
    border-radius: 4px;
    box-shadow: 0 5px 6px -4px var(--shadow-alpha-black);
    top: -2.6em;
    left: -2.8em;
  }
  
  /* resete girebilir */
  
  .button-svg{
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    background-color: var(--button-contrast);
    border-radius: 4px;
    /* box-shadow: inset 0 0 4px var(--shadow-soft); */
  }
  
  .button-svg::before{
    content: '';
    width: 80%;
    height: 80%;
    display: block;
    background-color: var(--text-soft);
    -webkit-mask-image: var(--inputsvg);
    mask-image: var(--inputsvg);
    margin: 10%;
  }
  
  .button-svg:hover::before{
    background-color: var(--text-bw);
  }
  
  /* resete girebilir - buraya kadar*/
  
  
  /* for selected factors sorting */
  
  .button-svg.filtered::before{
    background-color: var(--button-bg);
  }
  
  .button-svg.filtered:hover::before{
    background-color: var(--model-button-bg);
  }

  .factor-all-check{
    margin-left: 9px;
  }
  .factorbuttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2px;
  }
  
  .factorfilterrow{
    box-shadow: 0 17px 10px -14px var(--shadow-alpha-black);
  }
  
  /* Search Bar */
  
  .search {
    width: 45px;
    height: 35px;
    /* margin: 5px auto 0px; */
    background-color: var(--primary-bg);
    position: relative;
    overflow: hidden;
    transition: all .5s ease;
    margin-left: 9px;
  }
  .search::before { 
    content: '';
    display: block;
    width: 3px;
    height: 35px;
    position: relative;
    background-color: var(--secondary-bg);
    transition: all .5s ease;
  }
  .search.open { 
    width: 95%;
  }
  .search.open:before {
    height: 35px;
    margin-left: 100%;
    position: absolute;
  }
  .search-box {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: 1px solid var(--border-soft);
    background: var(--secondary-bg);
    box-shadow: inset 0 0 4px var(--shadow-soft);
    color: var(--text-contrast);
    font-size: 1.15em;
    border-radius: 4px;
    padding: 5px;
  }
  .search-box:focus {
    outline: none;
  }
  .search-button {
    width: 60px;
    height: 35px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background-color: var(--button-bg);
    -webkit-mask-image: url(../../../common/images/searchicon.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position-x: 22px;
    -webkit-mask-position-y: 4px;
    -webkit-mask-size: 26px;
  }
  
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
  }
  
  
  
  
  